*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
.build-outputs/
check_git.js
check_remote.js
push_git.js
check_tracked_files.js
upload_github.js
rebuild_repo.js
remove_large_files.js


